<div class="example-button-row-b">
    <button mat-raised-button color="primary" routerLink="">Go back home</button>
</div>
<div class="div-img">
    <mat-card class="example-card-a">
        <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/008/568/886/original/website-page-not-found-error-404-worried-robot-character-with-magnifying-glass-in-hand-site-crash-on-technical-work-eps-web-design-template-with-chatbot-mascot-cartoon-online-bot-assistance-failure-vector.jpg" alt="Photo 404 Error">
    </mat-card>
</div>